h1 {
    color: white;
    background-color: rgb(46, 39, 228);
    font-family: monospace;
}

h2 {
    font-family: monospace;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-family: monospace;
    margin-bottom: 0;
    margin-top: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: monospace;
}

ol {
    font-family: monospace;
}

button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.scores {
    font-family: monospace;
    font-size: 12px;
    color: rgb(92, 92, 92);
}

.notes {
    font-family: monospace;
    font-size: 12px;
    margin-top: 1px;
    color: blue;
}

body {
    background-color: rgb(255, 249, 242);
}