h1 {
    color: white;
    background-color: rgb(46, 39, 228);
    font-family: monospace;
}

.trust {
    font-family: monospace;
}

.trustsmall {
    font-family: monospace;
    font-size: 12px;
}

.heading1 {
    font-family: monospace;
    font-size: 20px;
}

button {
    margin-top: 20px;
}